<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TravelNet</title>
    {{#each css}}
        <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
	<script language="JavaScript">
	function renderFriends(userID) {
		document.getElementById('friendList').innerHTML = '<option value="" selected>--Please select--</option>';
		let i = 0;
		{{#each friendships}}
		if ({{this.[UserID]}} == userID) {
			const newOption = document.createElement("option");
			newOption.innerHTML = '{{this.[Friend]}}';
			newOption.value = {{this.[FriendID]}};
			document.getElementById('friendList').appendChild(newOption)
		}
		{{/each}}
	}
	</script>
    <script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newFriendship() { showform('insert'); }
    function updateFriendship(pid) { showform('update'); }
    function deleteFriendship(pid) { showform ('delete'); }
    function browseFriendships() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body onload="browseFriendships()">

    {{{body}}}

</body>
</html>