<!-- Source: https://github.com/osu-cs340-ecampus/nodejs-starter-app/ -->
<div id="content-wrap">
<header>
<h1>Locations</h1>

<div class="nav">[ <a href="/">Home</a> | <a href="/users">Users</a> | <a href="/friendships">Friendships</a> | <a href="/posts">Posts</a> | <a href="/locations">Locations</a> | <a href="/posts-friendships">Posts_has_Friendships</a>]</div>
</header>
<p></p>
<div id="browse">
<table id="location-table">
    {{!-- Header section --}}
    <thead>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.[Location ID]}}</td>
            <td>{{this.[Address Line]}}</td>
            <td>{{this.[City]}}</td>
            <td>{{this.[State]}}</td>
            <td>{{this.[Zip Code]}}</td>
            <td>{{this.[Country]}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

<div id="insert">
    <form method="Location" id="addLocation">
        <legend><strong>Add Location</strong></legend>
          <fieldset class="fields">
            <label> Address Line <span>*</span></label> <input type="text" name="address" id="address" required>
            <label> City <span>*</span></label> <input type="text" name="city" id="city" required>
            <label> State <span>*</span></label> <input type="text" name="state" id="state" required>
            <label> Zip Code <span>*</span></label> <input type="text" name = "zip_code" id="zip_code" required>
            <label> Country <span>*</span></label><input type="text" name="country" id="country" required>
            <p><span>*</span>Required field</p>
      </fieldset>
          <input class="btn" type="submit" id="addLocation" value="Add Location">
          <input class="btn" type="button" value="cancel" onClick="browseLocations()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>
<script src="./js/add_location.js"></script>
{{!--
<div id="update">
    <form method="Location" id="UpdateLocation">
        <legend><strong>Update Location</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="Location_id" id="updateLocationID" value="1">
          <label> ID: </label> 1
          <label> Address Line </label> <input name="address" value="57434 Paucek Meadow, Suite 978">
          <label>City</label> <input name="city" value="Efrainchester">
          <label>State</label><input name="state" value="Missouri">
          <label>Zip Code</label><input name="zip_code" value="99566-5220">
          <label>Country</label><input name="country" value="United States">
          </fieldset>
          <input class="btn" type="submit" id="UpdateSaveLocation" value="Save Update Location">
          <input class="btn" type="button" value="cancel" onClick="browseLocations()">
	</form> 
</div><!-- update -->

<p>&nbsp;</p>
<div id="delete">
  <form method="Location" id="deleteLocation">
      <legend><strong>Delete Location</strong></legend>
        <fieldset class="fields">
        <p>Are you sure you wish to delete the following?</p>
        <input type="hidden" name="LocationID" id="deleteLocationID" value="1">
        <label><strong>ID:</strong></label> 1
            <label> <strong>Address Line: </strong> </label> 57434 Paucek Meadow, Suite 978
            <label> <strong>City: </strong> </label> Efrainchester
            <label> <strong>State: </strong> </label> Missouri
            <label> <strong>Zip Code: </strong> </label>99566-5220
            <label><strong>Country: </strong></label>United States	
        </fieldset>
    <input class="btn" type="submit" id="DeleteLocation" value="Delete Location">
    <input class="btn" type="button" value="cancel" onClick="browseLocations()">
  </form> 
</div><!-- delete -->--}}
</div>