<!-- Source: https://github.com/osu-cs340-ecampus/nodejs-starter-app/ -->
<h1>Posts</h1>
[ <a href="/">Home</a> | <a href="/users">Users</a> | <a href="/friendships">Friendships</a> | <a href="/posts">Posts</a> | <a href="/locations">Locations</a> | <a href="/posts-friendships">Posts_has_Friendships</a>]

<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>
<table border="1" cellpadding="5" id="post-table">
    <thead>
        <tr>
            {{#each posts.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each posts }}
        <tr data-value={{this.[Post ID]}}>
            <td>{{this.[Post ID]}}</td>
            <td>{{this.[Content]}}</td>
            <td>{{this.[Access]}}</td>
            <td>{{this.[User Name]}}</td>
            <td>{{this.[Friends Mentioned]}}</td>
            <td>{{this.[Locations Pinned]}}</td>
            <td><a href="#"  onClick="updateItem('{{this.[Post ID]}}'); renderPosts('{{this.[Post ID]}}'); renderFriendsUpdate('{{this.[User Name]}}')">Edit</a></td>
            <td><a href="#" onclick="deletePost('{{this.[Post ID]}}')">Delete</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_post.js"></script>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
<h2>Inserting a post</h2>
    <form method="POST" id="addPost">
        <legend><strong>Add A Post</strong></legend>
          <fieldset class="fields">
            <div>
              <label> User Name <span style="color: red;">*</span></label> 
              <select name="userID" id="userID" onChange="renderFriends(this.value)" required>
            	<option value="" selected>--Please select--</option>
              {{#each users}}
                <option value="{{this.user_id}}">{{this.user_name}}</option>
              {{/each}}
              </select>
            </div>
            <div>
              <label> Friends Mentioned </label> 
              <select name="friendList" id="friendList" multiple>
            	<option value="" selected>--Please select--</option>
              </select>
            </div>
            <div>
              <label> Content <span style="color: red;">*</span></label> 
              <textarea name="content" id="content" required></textarea>
            </div>
            <div>
              <label> Access <span style="color: red;">*</span></label>
              <select name="access" id="access" required>
                <option value="" selected>--Please select--</option>
                <option value="Public">Public</option>
                <option value="Public to friends">Public to friends</option>
                <option value="Private">Private</option>
              </select>
            </div>
            <div>
            <label> Location </label> 
              <select name="location" id="location">
            	  <option value="" selected>--Please select--</option>
                {{#each locations}}
                <option value={{this.location_id}}>{{this.[Locations]}}</option>
                {{/each}}
              </select>
            </div>
            <div>
              <span style="color: red;">*</span>Required field
            </div>
      </fieldset>
          <input class="btn" type="submit" id="addPost" value="Add Post">
          <input class="btn" type="button" value="cancel" onClick="browseItem()">
	</form> 
  
</div><!-- insert -->
<p>&nbsp;</p>
<div id="update">
<h2>Updating a post</h2>
<p></p>
<form id="update-post-form-ajax">
    <legend><strong>Update A Post</strong></legend>
          <fieldset class="fields">
            <p>You can edit the following post: </p>
            <div>
              <label id="showPostID">Post ID: </label>
            </div>

            <div style="display: none;">
              <label id="showUserID">User ID: </label>
            </div>

            <div>
              <label id="showUserName">User Name: </label>
            </div>

    <div>
        <label for="input-friends"> Friends Mentioned </label> 
        <select name="input-friends" id="input-friends" multiple>
            	<option value="" selected>--Please select--</option>
        </select>
    </div>

    <div>
    <label for="input-content" id="showPostContent">Post Content</label>
    <!-- textarea will be added here by the function renderPosts -->
    </div>
    
    <div>
        <label for="showAccess"> Access <span style="color: red;">*</span></label>
        <select name="showAccess" id="showAccess" required>
          <option value="">--Please select--</option>
          <option value="Public" >Public</option>
          <option value="Public to friends" >Public to friends</option>
          <option value="Private" >Private</option>
        </select>
    </div>

    <div>
        <label for="input-location"> Location </label> 
        <select name="input-location" id="input-location"></select>
                {{!-- {{#each locations}}
                <option value={{this.location_id}}>{{this.[Locations]}}</option>
                {{/each}} --}}
    </div>
    <div>
          <span style="color: red;">*</span>Required field
    </div>
    </fieldset>
    <input class="btn" type="submit" id="UpdateSavePost" value="Save Update Post">
    <input class="btn" type="button" value="cancel" onClick="browseItem()">

</form>
 </div>

 <p>&nbsp;</p>
<div id="delete">
  <!--<form method="Location" id="deleteLocation">
      <legend><strong>Delete Location</strong></legend>
        <fieldset class="fields">
        <p>Are you sure you wish to delete the following?</p>
        <input type="hidden" name="LocationID" id="deleteLocationID" value="1">
        <label><strong>ID:</strong></label> 1
            <label> <strong>Address Line: </strong> </label> 57434 Paucek Meadow, Suite 978
            <label> <strong>City: </strong> </label> Efrainchester
            <label> <strong>State: </strong> </label> Missouri
            <label> <strong>Zip Code: </strong> </label>99566-5220
            <label><strong>Country: </strong></label>United States	
        </fieldset>
    <input class="btn" type="submit" id="DeleteLocation" value="Delete Location">
    <input class="btn" type="button" value="cancel" onClick="browseLocations()">
  </form> -->
</div><!-- delete -->
<script src="./js/update_post.js"></script>


<script type="application/javascript" src="./js/add_post.js"></script>
<script>

function renderFriends(userID) {
    document.getElementById('friendList').innerHTML = '<option value="">--Please select--</option>';
    
    {{#each friendships}}
    if ({{this.[UserID]}} == userID) {
        const newOption = document.createElement("option");
        newOption.innerHTML = '{{this.[Friend]}}';
        newOption.value = {{this.[FriendID]}};
        document.getElementById('friendList').appendChild(newOption)
    }
    {{/each}}
}

function renderFriendsUpdate(userName) {
    document.getElementById('input-friends').innerHTML = '<option value="">--Please select--</option>';
    
    {{#each friendships}}
    if ('{{this.[User]}}' == userName) {
        const newOption = document.createElement("option");
        newOption.innerHTML = '{{this.[Friend]}}';
        newOption.value = {{this.[FriendID]}};
        document.getElementById('input-friends').appendChild(newOption)
    }
    {{/each}}
}

function renderPosts(pid) {
    // Dynamically show the Post ID
    if (document.getElementById('showPostID').childNodes[1]) {                  // If the input element exists, remove the old input element.
      document.getElementById('showPostID').childNodes[1].remove();
    }
    const input = document.createElement("input");
    input.value = pid;
    input.style.display = "inline";
    input.setAttribute("disabled", true);
    input.setAttribute("id", "post-id");
    document.getElementById('showPostID').appendChild(input);

    {{#each post_for_render}}
    if ({{this.[Post ID]}} == pid) {

      // Dynamically show the User ID (but set display = "none" for User ID for better UI experience)
      if (document.getElementById('showUserID').childNodes[1]) {               // If the input element exists, remove the old input element.
      document.getElementById('showUserID').childNodes[1].remove();
    }
      const input2 = document.createElement("input");
      input2.style.display = "inline";
      input2.value = {{this.[User ID]}};
      input2.innerHTML = '{{this.[User Name]}}';
      input2.setAttribute("disabled", true);
      input2.setAttribute("id", "input-user");
      document.getElementById('showUserID').appendChild(input2);

      // Dynamically show the User Name
      if (document.getElementById('showUserName').childNodes[1]) {               // If the input element exists, remove the old input element.
            document.getElementById('showUserName').childNodes[1].remove();
          }
      const input3 = document.createElement("input");
      input3.style.display = "inline";
      input3.value = '{{this.[User Name]}}';
      input3.innerHTML = '{{this.[User Name]}}';
      input3.setAttribute("disabled", true);
      input3.setAttribute("id", "input-users");
      document.getElementById('showUserName').appendChild(input3);

      // Dynamically show the post content
      while (document.getElementById('showPostContent').hasChildNodes()) {               // If the input element exists, remove the old input element.
            console.log(document.getElementById('showPostContent').lastChild);
            document.getElementById('showPostContent').removeChild(document.getElementById('showPostContent').lastChild)
          }
      const txt = document.createElement("textarea");
      txt.innerHTML = '{{this.[Content]}}';
      console.log('{{this.[Content]}}');
      txt.setAttribute("name", "input-content");
      txt.setAttribute("id", "input-content");
      txt.style.display = "block";
      document.getElementById('showPostContent').appendChild(txt);

      // Dynamically show the access options
      if (document.getElementById('showAccess').hasChildNodes()) {               // If the input element exists, remove the old input element.
            document.getElementById('showAccess').innerHTML = "";
          }
      const option = document.createElement("option");
      option.setAttribute("value", "{{this.[Access]}}");
      option.innerHTML = "{{this.[Access]}}";
      document.getElementById('showAccess').appendChild(option);
      const accessList = ["Public", "Public to friends", "Private"];
      for (let i = 0; i < accessList.length; i++) {
        if (accessList[i] != '{{this.[Access]}}') {
          const option = document.createElement("option");
          option.setAttribute("value", accessList[i]);
          option.innerHTML = accessList[i];
          document.getElementById("showAccess").appendChild(option);
        }
      }

      // Dynamically show the Locations options
      if (document.getElementById('input-location').hasChildNodes) {               // If the input element exists, remove the old input element.
            document.getElementById('input-location').innerHTML = "";
            
          }
      const locationOption = document.createElement("option");
      locationOption.setAttribute("value", "{{this.[location_id]}}");
      locationOption.innerHTML = "{{this.[Locations Pinned]}}";
      document.getElementById('input-location').appendChild(locationOption);
      const noLocation = document.createElement("option");
      noLocation.setAttribute("value", "");
      noLocation.innerHTML = "--Please select--";
      document.getElementById('input-location').appendChild(noLocation);
      let LocationsList = [];
      {{#each ../locations}}
        LocationsList.push(['{{this.[location_id]}}', '{{this.[Locations]}}']);
      {{/each}}
      console.log("Locations List is:", LocationsList)
      for (let i = 0; i < LocationsList.length; i++) {
        if (LocationsList[i][1] != '{{this.[Locations Pinned]}}') {
          const locationOption = document.createElement("option");
          locationOption.setAttribute("value", LocationsList[i][0]);
          locationOption.innerHTML = LocationsList[i][1];
          document.getElementById("input-location").appendChild(locationOption);
        }
      }
      
    }
    {{/each}}
    }
</script>



