<h1>Posts</h1>
<script type="application/javascript" src="./renderFriends.js"></script>
[ <a href="/">Home</a> | <a href="/users">Users</a> | <a href="/friendships">Friendships</a> | <a href="/posts">Posts</a> | <a href="/locations">Locations</a> | <a href="/posts-friendships">Posts_has_Friendships</a>]

<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>
<table border="1" cellpadding="5" id="post-table">
    <thead>
        <tr>
            {{#each posts.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each posts}}
        <tr>
            <td>{{this.[Post ID]}}</td>
            <td>{{this.[Content]}}</td>
            <td>{{this.[Access]}}</td>
            <td>{{this.[User Name]}}</td>
            <td>{{this.[Friends Mentioned]}}</td>
            <td>{{this.[Locations Pinned]}}</td>
            <td><a href="#" onClick="updateItem('{{this.[Post ID]}}')">Edit</a></td>
            <td><a href="#" onclick="deleteItem('{{this.[Post ID]}}')">Delete</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<p>&nbsp;</p>

</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addPost">
        <legend><strong>Add A Post</strong></legend>
          <fieldset class="fields">
            <div>
              <label> User Name <span style="color: red;">*</span></label> 
              <select name="userID" id="userID" onclick="renderFriends(this.value)" required>
            	<option value="" selected>--Please select--</option>
              {{#each users}}
                <option value="{{this.user_id}}">{{this.user_name}}</option>
              {{/each}}
              </select>
            </div>
            <div>
              <label> Friends Mentioned </label> 
              <select name="friendList" id="friendList" multiple>
            	<option value="" selected>--Please select--</option>
              </select>
            </div>
            <div>
              <label> Content <span style="color: red;">*</span></label> 
              <textarea name="content" id="content" required></textarea>
            </div>
            <div>
              <label> Access <span style="color: red;">*</span></label>
              <select name="access" id="access" required>
                <option value="" selected>--Please select--</option>
                <option value="Public">Public</option>
                <option value="Public to friends">Public to friends</option>
                <option value="Private">Private</option>
              </select>
            </div>
            <div>
            <label> Location </label> 
              <select name="location" id="location">
            	  <option value="" selected>--Please select--</option>
                {{#each locations}}
                <option value={{this.location_id}}>{{this.[Locations]}}</option>
                {{/each}}
              </select>
            </div>
            <div>
              <span style="color: red;">*</span>Required field
            </div>
      </fieldset>
          <input class="btn" type="submit" id="addPost" value="Add Post">
          <input class="btn" type="button" value="cancel" onClick="browseItem()">
	</form> 
  
</div><!-- insert -->
<p>&nbsp;</p>
<div id="update">
    <form method="POST" id="updatePosts">
        <legend><strong>Update A Post</strong></legend>
          <fieldset class="fields">
            <input type="hidden" name="Post_id" id="updatePostsID" value="1">
            <label> ID: </label> 1
          <label> Post Content </label> <textarea name="content" value="I love the city!"></textarea>
          <label>Access</label>
            <select name="access">
              <option value="Public" selected>Public</option>
              <option value="Public to friends">Public to friends</option>
              <option value="Private">Private</option>
              </select>
          <label> User Name </label> <select name="user">
            	<option value="0">&nbsp;</option>
                <option value="1" selected>mary563</option>
                <option value="2">toub8294</option>
                <option value="3">pwune0921</option>
                <option value="3">jimmyt801</option>
                </select>
             <label> Location </label> <select name="location">
            	<option value="0" selected>NULL</option>
                <option value="1">57434 Paucek Meadow, Suite 978 Efrainchester Missouri 99566-5220 United States</option>
                <option value="2">9088 Shanahan Groves, Suite 697 Pfannerstillhaven Wisconsin 97929 United States</option>
                </select>

              <p></p>
            <div>
            <label for="friends-mentioned">Which friends are mentioned in this post?</label>

            <select name="friends-mentioned" id="friends-mentioned" multiple>
            <option value="2">toub8294</option>
            <option value="3">pwune0921</option>
            </select>
            </div>
            <p>Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>
          </fieldset>
          <input class="btn" type="submit" id="UpdateSavePost" value="Save Update Post">
          <input class="btn" type="button" value="cancel" onClick="browseItem()">
	</form> 
</div><!-- update -->

<p>&nbsp;</p>
<div id="delete">
  <form method="POST" id="deletePosts">
      <legend><strong>Delete A Post</strong></legend>
        <fieldset class="fields">
        <p>Are you sure you wish to delete the following?</p>
        <input type="hidden" name="personID" id="deletePostsID" value="1">
        <label><strong>ID:</strong></label> 1
            <label> <strong>Post Content: </strong> </label> I love the city!
            <label> <strong>User Name: </strong> </label> mary563
        </fieldset>
    <input class="btn" type="submit" id="deletePosts" value="Delete Post">
    <input class="btn" type="button" value="cancel" onClick="browseItem()">
  </form> 
</div><!-- delete -->
<script type="application/javascript" src="./js/add_post.js"></script>
<!--<h1>Users</h1>

[ <a href="/">Home</a> | <a href="/users">Users</a> | <a href="/friendships">Friendships</a> | <a href="/posts">Posts</a> | <a href="/locations">Locations</a> | <a href="/posts-friendships">Posts_has_Friendships</a>]

<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>
<table border="1" cellpadding="5">
  <tr>
    <th>Edit</th>
    <th>Delete</th>
    <th>User ID</th>
    <th>User Name</th>
    <th>Email</th>
    <th>Password</th>
  </tr>
  <tr>
    <td><a href="#" onClick="updateItem('this.UserID')">Edit</a></td>
    <td><a href="#" onclick="deleteItem('this.UserID')">Delete</a></td>
    <td align="right" >1</td>
    <td >mary563</td>
    <td align="right" >mary563@gmail.com</td>
    <td>1937@#fadf</td>
  </tr>
  <tr>
    <td><a href="#" onClick="updateItem('this.UserID')">Edit</a></td>
    <td><a href="#" onclick="deleteItem('this.UserID')">Delete</a></td>
    <td align="right" >2</td>
    <td>toub8294</td>
    <td align="right" >toub8294@gmail.com</td>
    <td >hfkd0)jf!</td>
  </tr>
  <tr>
    <td><a href="#" onClick="updateItem('this.UserID')">Edit</a></td>
    <td><a href="#" onclick="deleteItem('this.UserID')">Delete</a></td>
    <td align="right" >3</td>
    <td>pwune0921</td>
    <td align="right" >pwune0921@gmail.com</td>
    <td>9384**&fafd</td>
  </tr>
  <tr>
    <td><a href="#" onClick="updateItem('this.UserID')">Edit</a></td>
    <td><a href="#" onclick="deleteItem('this.UserID')">Delete</a></td>
    <td align="right" >4</td>
    <td>jimmyt801</td>
    <td align="right" >jimmyt801@outlook.com</td>
    <td>8394*fhfkd</td>
  </tr>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addUser">
        <legend><strong>Add A User</strong></legend>
          <fieldset class="fields">
            <label> user name </label> <input type="text" name="user_name">
            <label> email </label> <input type="text" name="email">
            <label> password </label> <input type="text" name="password">
      </fieldset>
          <input class="btn" type="submit" id="addUser" value="Add User">
          <input class="btn" type="button" value="cancel" onClick="browseItem()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>
<div id="update">
    <form method="POST" id="updateUsers">
        <legend><strong>Update A User</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="user_id" id="updateUsersID" value="1">
          <label> ID: </label> 1
          <label> user name</label> <input type="text" name="user_name" value="mary563">
            <label> email </label> <input type="text" name="email" value="mary563@gmail.com">
            <label> password </label> <input type="text" name="password" value="1937@#fadf">
          </fieldset>
          <input class="btn" type="submit" id="UpdateSaveUser" value="Save Update User">
          <input class="btn" type="button" value="cancel" onClick="browseItem()">
	</form> 
</div><!-- update -->

<p>&nbsp;</p>
<div id="delete">
  <form method="POST" id="deleteUsers">
      <legend><strong>Delete A User</strong></legend>
        <fieldset class="fields">
        <p>Are you sure you wish to delete the following?</p>
        <input type="hidden" name="personID" id="deleteUsersID" value="1">
        <label><strong>ID:</strong></label> 1
            <label> <strong>User Name: </strong> </label> mary563
        </fieldset>
    <input class="btn" type="submit" id="deleteUsers" value="Delete User">
    <input class="btn" type="button" value="cancel" onClick="browseItem()">
  </form> 
</div><!-- delete -->
