<!-- Source: https://github.com/osu-cs340-ecampus/nodejs-starter-app/ -->
<h1>Users</h1>

[ <a href="/">Home</a> | <a href="/users">Users</a> | <a href="/friendships">Friendships</a> | <a href="/posts">Posts</a> | <a href="/locations">Locations</a> | <a href="/posts-friendships">Posts_has_Friendships</a>]
<table id="user-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.[User ID]}}</td>
            <td>{{this.[User Name]}}</td>
            <td>{{this.[Email]}}</td>
            <td>{{this.[Password]}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a></p>

<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addUser">
        <legend><strong>Add A User</strong></legend>
          <fieldset class="fields">
            
            <label> User name </label> <input type="text" name="userName" id = "userName" > 
            <label> Email </label> <input type="email" name="email" id = "email" >
            <label> Password </label> <input type="password" name="password" id = "password">
      </fieldset>
          <input class="btn" type="submit" id="addUser" value="Add User">
          <input class="btn" type="button" value="cancel" onClick="browseUsers()">
	</form> 
</div><!-- insert -->
<script src="./js/add_user.js"></script>
<p>&nbsp;</p>
<div id="update">
    <form method="POST" id="UpdateUser">
        <legend><strong>Update A User</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="user_id" id="updateUserID" value="1">
          <label> ID: </label> 1
          <label> user name</label> <input type="text" name="user_name" value="mary563">
            <label> email </label> <input type="text" name="email" value="mary563@gmail.com">
            <label> password </label> <input type="text" name="password" value="1937@#fadf">
          </fieldset>
          <input class="btn" type="submit" id="UpdateSaveUser" value="Save Update User">
          <input class="btn" type="button" value="cancel" onClick="browseUsers()">
	</form> 
</div><!-- update -->
<div id ="delete">

</div>





